<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <js>
                <minify_exclude>
                    <authnetcim>Accept</authnetcim>
                </minify_exclude>
            </js>
        </dev>
        <payment>
            <authnetcim>
                <version backend_model="ParadoxLabs\Authnetcim\Model\Config\Version" />
                <apitest />
                <active>0</active>
                <title>Credit Card (Authorize.Net CIM)</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <login backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <trans_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <signature_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <model>ParadoxLabs\Authnetcim\Gateway\VirtualFacade</model>
                <card_model>ParadoxLabs\Authnetcim\Model\Card</card_model>
                <method_model>ParadoxLabs\Authnetcim\Model\Method</method_model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <test>0</test>
                <useccv>1</useccv>
                <validation_mode>liveMode</validation_mode>
                <allowspecific>0</allowspecific>
                <allow_unsaved>1</allow_unsaved>
                <show_branding>0</show_branding>
                <require_ccv>0</require_ccv>
                <send_shipping_address>1</send_shipping_address>
                <send_line_items>1</send_line_items>
                <reauthorize_partial_invoice>1</reauthorize_partial_invoice>
                <savecard_opt_out>1</savecard_opt_out>
                <verify_ssl>1</verify_ssl>
                <acceptjs>1</acceptjs>
                <enable_webhooks>0</enable_webhooks>
                <client_key />
                <group>tokenbase</group>
                <!-- Feature flags -->
                <can_order>1</can_order>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_capture_once>1</can_capture_once>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_edit>1</can_edit>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_review_payment>0</can_review_payment>
                <is_gateway>0</is_gateway>
                <is_offline>0</is_offline>
                <can_initialize>0</can_initialize>
                <can_store_bin>0</can_store_bin>
                <can_sync_account_updater>1</can_sync_account_updater>
            </authnetcim>
            <authnetcim_ach>
                <version backend_model="ParadoxLabs\Authnetcim\Model\Config\Version" />
                <apitest />
                <active>0</active>
                <title>Bank Account (eCheck)</title>
                <login backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <trans_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <signature_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <model>ParadoxLabs\Authnetcim\Gateway\Ach\VirtualFacade</model>
                <card_model>ParadoxLabs\Authnetcim\Model\Ach\Card</card_model>
                <method_model>ParadoxLabs\Authnetcim\Model\Ach\Method</method_model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <test>0</test>
                <validation_mode>liveMode</validation_mode>
                <allowspecific>0</allowspecific>
                <allow_unsaved>1</allow_unsaved>
                <show_branding>0</show_branding>
                <send_shipping_address>1</send_shipping_address>
                <send_line_items>1</send_line_items>
                <reauthorize_partial_invoice>1</reauthorize_partial_invoice>
                <savecard_opt_out>1</savecard_opt_out>
                <verify_ssl>1</verify_ssl>
                <enable_webhooks>0</enable_webhooks>
                <group>tokenbase</group>
                <!-- Feature flags -->
                <can_order>1</can_order>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_capture_once>1</can_capture_once>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_edit>1</can_edit>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_fetch_transaction_info>1</can_fetch_transaction_info>
                <can_review_payment>0</can_review_payment>
                <is_gateway>0</is_gateway>
                <is_offline>0</is_offline>
                <can_initialize>0</can_initialize>
                <can_store_bin>0</can_store_bin>
            </authnetcim_ach>
        </payment>
    </default>
</config>
