<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!--<virtualType name="AuthnetcimCcConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">-->
        <!--<arguments>-->
            <!--<argument name="methodCodes" xsi:type="array">-->
                <!--<item name="authnetcim" xsi:type="string">authnetcim</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="authnetcim_config_provider" xsi:type="object">ParadoxLabs\Authnetcim\Model\ConfigProvider</item>
                <!--<item name="authnetcim_cc_config_provider" xsi:type="object">AuthnetcimCcConfigProvider</item>-->
            </argument>
        </arguments>
    </type>
</config>
