<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="authnetcim_config_provider" xsi:type="object">ParadoxLabs\Authnetcim\Model\ConfigProvider</item>
                <item name="authnetcim_ach_config_provider" xsi:type="object">ParadoxLabs\Authnetcim\Model\Ach\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="ParadoxLabs\Authnetcim\Block\Info\Cc">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>

    <type name="ParadoxLabs\Authnetcim\Block\Info\Ach">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Response\HeaderProvider\XFrameOptions">
        <plugin name="authnetcim_allow_communicator_frame" type="ParadoxLabs\Authnetcim\Plugin\Magento\Framework\App\Response\HeaderProvider\XFrameOptions" />
    </type>

    <type name="ParadoxLabs\Authnetcim\Model\Service\AcceptHosted\Magewire">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="authnetcim" xsi:type="object">ParadoxLabs\Authnetcim\Model\Magewire\Payment\PlaceOrderService</item>
            </argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\Authnetcim\Model\Magewire\Payment\PlaceOrderService">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
