<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()},
                          value: getCode(),
                          checked: isChecked,
                          click: selectPaymentMethod,
                          visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}"><span data-bind="text: getTitle()"></span></label>
    </div>

    <form class="payment-method-content" data-bind="mageInit: {'validation': {}}">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block" data-bind="attr: {id: getCode() + '-agreements'}">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: getCode() + '-form-cc'}">
            <!-- ko if: (isShowLegend())-->
            <legend class="legend"><span><!-- ko text: $t('Credit Card Information')--><!-- /ko --></span></legend><br>
            <!-- /ko -->
            <!-- ko if: (getLogoImage())-->
            <div class="sorter">
                <img data-bind="attr: {'src': getLogoImage(), 'alt': $t('Processed by Authorize.net')}" />
            </div>
            <!--/ko-->
            <!-- ko if: (storedCards().length > 0) -->
            <div>
                <label data-bind="attr: {for: getCode() + '-card-id'}" class="label">
                    <span><!-- ko text: $t('Payment Information')--><!-- /ko --></span>
                </label>
                <div class="control">
                    <select name="payment[card_id]" class="select"
                            data-bind="attr: {id: getCode() + '-card-id', 'data-container': getCode() + '-card-id'},
                                    enable: true,
                                    options: storedCards,
                                    optionsValue: 'id',
                                    optionsText: 'label',
                                    optionsCaption: $t('Add new card'),
                                    value: selectedCard">
                    </select>
                </div>
            </div>
            <div>&nbsp;</div>
            <!-- /ko -->

            <div class="field card required" data-bind="visible: showIframe()">
                <iframe src="about:blank" data-bind="attr: {id: getCode() + '_iframe', name: getCode() + '_iframe'}, afterRender: syncBillingAddress"></iframe>
            </div>

            <!-- ko if: (selectedCard())-->
                <div class="field cvv required" data-bind="attr: {id: getCode() + '-cc-type-cvv-div'}, visible: (isCcvShown)">
                    <label data-bind="attr: {for: getCode() + '-cc-cid'}" class="label">
                        <span><!-- ko text: $t('Card Verification Number')--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip">
                        <input type="text"
                               class="input-text cvv"
                               name="payment[cc_cid]"
                               value=""
                               autocomplete="cc-csc"
                               maxlength="4"
                               data-bind="attr: {id: getCode() + '-cc-cid',
                           title: $t('Card Verification Number'),
                           'data-container': getCode() + '-cc-cvv',
                           'data-validate': JSON.stringify({'required-number':true, 'validate-cc-cvn':'#' + getCode() + '-cc-type'})},
                           enable: true,
                           textInput: creditCardVerificationNumber" />
                        <div class="field-tooltip toggle">
                            <span class="field-tooltip-action action-cvv"
                                  tabindex="0"
                                  data-toggle="dropdown"
                                  data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                <span><!-- ko text: $t('What is this?')--><!-- /ko --></span>
                            </span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown"
                                 data-bind="html: getCvvImageHtml()"></div>
                        </div>
                    </div>
                </div>
                <!-- ko if: (showSaveOption())-->
                <div class="field">
                    <label class="label">
                        <span></span>
                    </label>
                    <div class="control">
                        <!-- ko if: (forceSaveCard)-->
                        <input type="hidden"
                               name="payment[save]"
                               value="1"
                               checked="checked"
                               class="checkbox"
                               data-bind="attr: {id: getCode() + '-save'}, checked: save"/>
                        <label class="label" data-bind="attr: {for: getCode() + '-save'}">
                            <span><!-- ko text: $t('For your convenience, this data will be stored securely by our payment processor.')--><!-- /ko --></span>
                        </label>
                        <!-- /ko -->
                        <!-- ko if: (!forceSaveCard)-->
                        <input type="checkbox"
                               name="payment[save]"
                               value="1"
                               checked="checked"
                               class="checkbox"
                               data-bind="attr: {id: getCode() + '-save'}, checked: save"/>
                        <label class="label" data-bind="attr: {for: getCode() + '-save'}">
                            <span><!-- ko text: $t('Save for next time')--><!-- /ko --></span>
                        </label>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
            <!-- /ko -->
        </fieldset>

        <div class="payment-method-content" data-bind="visible: selectedCard()">
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action primary checkout"
                            type="submit"
                            data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order'), id: getCode() + '-submit'},
                        enable: (getCode() == isChecked() && isPlaceOrderActionAllowed())
                        "
                            disabled>
                        <span data-bind="text: $t('Place Order')"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
